* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccd7ff;
}

/* @media screen and (min-width: 600px) {
  html,
  body {
    background-color: red;
    max-width: 50vw;
  }
} */
