/* Hero Section */

.heroContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 21.3125rem;
}
.heroWrapper {
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mask {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.33);
  z-index: 5;
}

.t3 {
  position: absolute;
  color: #cc0d0d;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 1px 1px 2px rgb(49, 18, 18);
  z-index: 20;
}
.turbotubetrip {
  bottom: 0.7rem;
  position: absolute;
  color: rgba(255, 255, 255, 0.82);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 20;
}

/* Input Section */

.outer_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input_container {
  width: 85%;
  height: 23.25rem;
  margin-top: 2.5rem;
}

.input_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input_header {
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.1rem;
  margin-bottom: 0.78rem;
}

.input_box {
  width: 16.5rem;
  height: 2.53225rem;
  margin: 1rem 0;
}
/* .input_box:nth-child(-n + 3) {
  margin-bottom: 2.51rem;
} */

.input_box::placeholder {
  color: var(--gray-4, #bdbdbd);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.6rem;
}
.dropdown {
  height: 9rem;
  width: 16.5rem;
  background-color: white;
  z-index: 10;
  padding-top: 10px;
}
.dropdown_none {
  display: none;
}
.dropdown li {
  list-style-type: none;
  padding-left: 1rem;
  cursor: pointer;
}

.button {
  width: 16.125rem;
  height: 3.19544rem;
  background-color: #dc241f;
  color: white;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 1.78rem;
}

.greggs_container {
  position: relative;
  z-index: 10;
}
.greggs_logo {
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 85%;
  height: 15vw;
  margin-top: 1rem;
}

/* @media screen and (min-width: 600px) {
  .container {
    background-color: red;
    max-width: 700px;
  }
} */

/* Journey output screen */

.container_journey {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: hsl(215, 65%, 90%);
}
.letterbox_journey {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
  width: 20.625rem;
  height: 8rem;
  background-color: #fdfdfd;
  margin-top: 30px;
}

.letterbox_journey > span {
  padding-left: 1rem;
  font-size: 1rem;
}

.letterbox_journey_map {
  display: flex;
  flex-direction: column;
  width: 20.625rem;
  /* height: 30rem; */
  background-color: #fdfdfd;
  margin-top: 2rem;
}
.train_times {
  display: flex;
  justify-content: space-between;
  padding: 0.63rem 0.63rem 0 1.06rem;
}

.train_times span:first-child {
  color: #000000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.train_times span:nth-child(2) {
  color: #000000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.15rem;
}
.train_times span small {
  color: rgba(0, 0, 0, 0.72);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0rem;
}
.cost_of_journey {
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0.2rem 1rem;
}

/* Start of map here */
.journey_map {
  padding-top: 20px;
  padding-left: 17px;
}
.journey_map_instruction {
  display: flex;
  gap: 0.8rem;
}
.journey_map_instruction span {
  margin-top: -2px;
}

.undergrnd_logo {
  height: 15px;
  width: 18px;
  position: relative;
  object-fit: cover;
  object-position: center;
  margin: 4px 0 4px 0;
}
.journey_map_line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  border-left: 6px solid green;
  /* height: 4rem; */
  margin-left: 6px;
  width: 50%;
  margin-bottom: 4px;
}

.journey_map_line div {
  color: #000;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.journey_map_line span {
  color: #1d57eb;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}
.station_list {
  border-left: 6px solid green;
  margin-left: 6px;
  width: 100%;
  /* margin-bottom: 4px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #6f7072;
}
.close_staion_list {
  display: flex;
  justify-content: space-around;
}

.close_staion_list span:first-child {
  color: #000;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.close_staion_list span:nth-child(2) {
  color: #1d57eb;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.last_stop {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  gap: 0.8rem;
}
